:root {
    --primary: #ffd7d7;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
    --gris: #757575;

    --page-header-bgColor: #242e42;
    --page-header-bgColor-hover: #1d2636;
    --page-header-txtColor: #dde9f8;
    --page-header-headingColor: #7889a4;
    --page-header-width: 220px;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    --switch-bgLightModeColor: #87cefa;
    --switch-sunColor: gold;
    --switch-moonColor: #f4f4f4;
    --switch-bgDarkModeColor: #1f1f27;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.boton {
    background-color: #331868;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
    margin-top: 2rem;
}

[class*="contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

[class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
}

.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url(../img/header.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
    position: relative;
}

.header__axoshop {
    display: none;
}

@media (min-width: 992px) {
    .header__axoshop {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;

        /* animation-name: mostrarImagen;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1; */

        animation: 1s ease-in-out 0s 1 mostrarImagen;
    }
}

@keyframes mostrarImagen {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

.header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .header__barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__logo {
    width: 30rem;
}

.navegacion {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .navegacion {
        margin-top: 0;
    }
}

.navegacion__enlace {
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: .3s;
}

.navegacion__enlace:hover {
    background-color: var(--primary);
}

.modelo {
    color: var(--blanco);
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .modelo {
        text-align: left;
        width: 50%;
    }
}

.modelo__nombre {
    font-size: 8rem;
}

.modelo__precio {
    font-size: 6rem;
    color: var(--primary);
    font-weight: 900;
    line-height: 0;
}

.modelo__enlace {
    margin-top: 2rem;
    text-decoration: none;
    padding: 1rem 5rem;
    border: 2px solid var(--primary);
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: .3s;
}

.modelo__enlace:hover {
    background-color: var(--primary);
}

/* Productos */
.productos__grid {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .productos__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .productos__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    display: grid;
    column-gap: 1rem;
    align-items: center;
}

.producto__nombre {
    font-size: 3rem;
    text-transform: uppercase;
}

.producto__descripcion {
    font-size: 1.6rem;
}

.producto__precio {
    color: var(--primary);
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

.producto__enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    color: var(--negro);
    padding: 1rem 5rem;
    border: 2px solid var(--primary);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: .3s;
}

.producto__enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}

.producto__formulario {
    display: flex;
    flex-direction: column;
}

.producto__label {
    font-size: 2.2rem;
    margin-right: 1rem;
}

.producto__cantidad {
    border: 2px solid var(--primary);
    padding: 1rem;
    text-align: center;
}

.producto__cantidad:focus-visible {
    outline: 2px solid var(--primary);
    border: none;
}

.producto__agregar-carrito {
    margin-top: 3rem;
    display: block;
    background-color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    text-align: center;
    padding: 2rem 5rem;
    color: var(--blanco);
    font-size: 1.8rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: .3s;
}

.producto__agregar-carrito:hover {
    background-color: var(--negro);
    cursor: pointer;
}

/* Aprende a jugar index */
.aprende {
    background-image: linear-gradient(to right, rgb(0 0 0 / .65), rgb(0 0 0 / .65)), url('../img/aprende.jpg');
    padding: 10rem 0;
    margin-top: 10rem;
    background-size: cover;
    background-position: 50%;
}

@media (min-width: 768px) {
    .aprende_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.aprende__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .aprende__contenido {
        grid-column: 2 /3;
    }
}

.aprende__texto {
    color: var(--blanco);
    text-align: center;
    font-size: 2.4rem;
}

.aprende_enlace {
    color: var(--blanco);
    margin-top: 2rem;
    display: inline-block;
    border: 2px solid var(--primary);
    text-decoration: none;
    padding: 1rem 5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: .3s;
}

.aprende_enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}

/* Comunidad */
.comunidad__grid {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .comunidad__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .comunidad__grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .comunidad__grid--pagina {
        grid-template-columns: repeat(3, 1fr);
    }
}

.entrada {
    max-width: 80rem;
    margin: 0 auto;
}

.entrada__contenido {
    padding: 2rem;
}

.entrada__titulo {
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
}

.entrada__fecha {
    font-size: 1.6rem;
    color: var(--primary);
}

.entrada__enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    color: var(--negro);
    padding: 1rem 5rem;
    border: 2px solid var(--primary);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: .3s;
}

.entrada__enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}

.entrada__texto {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 1.6rem;
}

.entrada__imagen {
    width: 29rem;
    height: 20rem;
}

/* footer principal */
.footer {
    background-color: var(--negro);
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .footer__contenido {
        display: flex;
        justify-content: space-between;
    }
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer__nav {
        flex-direction: row;
        gap: 2rem;
    }
}

.footer__enlace {
    font-size: 2.8rem;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
}

.footer__enlace:hover {
    color: var(--primary);
}

.footer__copyright {
    font-size: 2.8rem;
    color: var(--blanco);
    font-weight: 700;
    text-align: center;
}


/** Contacto **/
.seccion_contacto {
    background-color: var(--black);
    padding-bottom: 5rem;
}

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primary);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/* mapa */
.seccion_mapa {}

#map{
    background-color: var(--black);

}
/* Contacto */
.datos_contacto {
    background-color: var(--black);
    margin-top: 0;
}
.aprende__heading {
    margin-top: 0;
}

.datos_contacto p, h3 {
    color: var(--white);
}

.datos_contacto img {
    color: var(--blanco);
}

/* Team */
.team{
    background-color: var(--gris);
    color: var(--blanco);
}

.team__heading{
    margin-top: 0;
}

.team i {
    color: var(--blanco);
    margin-left: 2rem;
}

/* Nosotros */
.nosotros__grid {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .nosotros__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/* Login y Registro */
.body-login {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../img/header.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh
}

.login-box {
    width: 320px;
    height: 420px;
    background: #4d3085;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.8;
}

.register-box {
    width: 320px;
    height: 650px;
    background: #4d3085;
    color: #fff;
    top: 53%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.8;
}

.login-box .avatar,
.register-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1,
.register-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label,
.register-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input,
.register-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"],
.register-box input[type="text"],
.register-box input[type="password"],
.register-box input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"],
.register-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover,
.register-box input[type="submit"]:hover {
    cursor: pointer;
    background: var(--primary);
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #DFDFDF;
    display: block;
}

.login-box a:hover {
    color: var(--primary);
}

.services{
    display: flex;
    width: 100%;
    margin: 100px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.service-block{
    width: 450px;
    height: 150px;
    padding: 20px;
    background-color: var(--primary);
    margin: 50px;
}

/* ADMINISTRACIÓN */