{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
</head>

<body class="body-login">
  <div class="register-box">
    <img class="avatar" src="{% static 'img/header_axo.png' %}" alt="logo axoshop">
    <h1>Registrar Cuenta</h1>

    {% if form.errors %}
      <div class="alert alert-warning">
        {{form.errors}}
      </div>
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      <!-- USERNAME -->
      <label for="username">Nombre de usuario</label>
      <input type="text" id="usuario" name="username" placeholder="Usuario"></input>

      <!-- CORREO -->
      <label for="Email">Correo Electronico</label>
      <input type="email" id="email" name="email" placeholder="PeringaNito12@mail.com"></input>

      <!-- Nombre -->
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="first_name" placeholder="Juan"></input>

      <!-- Apellidos -->
      <label for="Apellidos">Apellidos</label>
      <input type="text" id="Apellidos" name="second_name" placeholder="Torres"></input>

      <!-- PASSWORD -->
      <label for="password">Contraseña</label>
      <input type="password" name="password" placeholder="Contraseña"></input>

      <label for="repassword">Confirmar Contraseña</label>
      <input type="password" name="repassword" placeholder="Confirmar Contraseña"></input>

      <input type="submit" value="Registrar">

    </form>
  </div>
</body>

</html>