{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<main class="contenedor">
  <h2 class="heading">Cómo elegir tu primer guitarra</h2>

  <article class="entrada">
    <img class="entrada__imagen__articulo" src="{% static 'img/comunidad_01.jpg' %}" alt="imagen blog">

    <div class="entrada__contenido">
      <h3 class="entrada__titulo">¿Como elegir tu primer guitarra?</h3>
      <p class="entrada__fecha">20 de Enero de 2022</p>

      <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus laborum, quas
        assumenda, dolorem placeat quo, aliquam labore incidunt alias molestiae maxime quaerat distinctio numquam quam
        voluptatum. Beatae, molestiae vitae?</p>
      <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus laborum, quas
        assumenda, dolorem placeat quo, aliquam labore incidunt alias molestiae maxime quaerat distinctio numquam quam
        voluptatum. Beatae, molestiae vitae?</p>
      <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus laborum, quas
        assumenda, dolorem placeat quo, aliquam labore incidunt alias molestiae maxime quaerat distinctio numquam quam
        voluptatum. Beatae, molestiae vitae?</p>
      <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio delectus laborum, quas
        assumenda, dolorem placeat quo, aliquam labore incidunt alias molestiae maxime quaerat distinctio numquam quam
        voluptatum. Beatae, molestiae vitae?</p>

    </div>
  </article>
</main>
{% endblock %}