{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<main class="nosotros nosotros__contenedor">
  <h2 class="nosotros__heading">Nosotros</h2>

  <div class="nosotros__grid">
    <img src="{% static 'img/logo.png' %}" alt="imagen nosotros">

    <div class="nosotros__contenido">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur recusandae obcaecati, ipsam hic assumenda
        excepturi repellat explicabo blanditiis dolorem quisquam similique eum, consequuntur vel commodi! Recusandae
        assumenda distinctio quidem dolorem!</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur recusandae obcaecati, ipsam hic assumenda
        excepturi repellat explicabo blanditiis dolorem quisquam similique eum, consequuntur vel commodi! Recusandae
        assumenda distinctio quidem dolorem!</p>
    </div>
  </div>
</main>
{% endblock contenido %}