{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<main class="nosotros nosotros__contenedor">
  <h2 class="nosotros__heading">Nosotros</h2>

  <div class="nosotros__grid">
    <img src="{% static 'img/logo.png' %}" alt="imagen nosotros">

    <div class="nosotros__contenido">
      <p><strong>Misión: </strong> Nuestra misión es desarrollar videojuegos de calidad. Como una empresa nueva en el mercado
      estamos convencidos de que podemos impulsar el nivel de calidad de los videojuegos
      producidos en México.
      </p>
      <br>
      <p><strong>Visión: </strong> Ser la empresa de desarrollo de videojuegos más importante de México utilizando la tecnología
      más reciente que existe en el mercado.
      </p>
      <br>
      <p><strong>Valores: </strong> Nuestros valores son los siguientes:
        <ul>
          <li>Calidad en nuestro trabajo.</li>
          <li>Originalidad en nuestros productos.</li>
          <li>Trabajo en equipo para promover la colaboración.</li>
          <li>Responsabilidad comprometiéndonos a entregar siempre.</li>
        </ul>
      </p>
    </div>
  </div>
</main>
{% endblock contenido %}