{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<main class="nosotros nosotros__contenedor">
  <h2 class="nosotros__heading">Nosotros</h2>

  <div class="nosotros__grid">
    <img src="{% static 'img/logo.png' %}" alt="imagen nosotros">

    <div class="nosotros__contenido">
      <p><strong>Nosotros: </strong> Axoshop es la pagina oficial de destribución y venta de nuestros productos de videojuegos, tenemos a los mejores 
        talentos dentro de nuestras filas, los juegos que principalmente desarrollamos son RPG y 2D, tambien tenemos proyectos
        en desarrollo como que son en 3D, aunque aun no han salido
      </p>
      <br>
      <p><strong>Mision:</strong>Tenemos como objetivo principal revolucionar el mundo de los videojuegos RPG 2D, traer nuevas
      inovaciones a la industria, demostrar que la forma de divertirse no solo es con micropagos.</p>
      <br>
      <p><strong>Valores: </strong> Transparencia, Honestidad, Coherencia como valor empresarial, Meritos a trabajos, Libertad
      y Puntualidad en las entregas.
      Estas son algunas de las cosas que nos caracterizan como empresa
    </p>
    </div>
  </div>
</main>
{% endblock contenido %}