{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<section class="team" id="team">
  <h2 class="team__heading">Equipo de trabajo</h2>
  <div class="comunidad__contenedor comunidad__grid">
    <article class="entrada">
      <div class="entrada__contenido">
        <img class="entrada__imagen" src="https://i.pinimg.com/474x/92/07/ac/9207ac43dd0b3cd4d194e742992a341c.jpg">

        <h3 class="entrada__titulo">Elías Beltran</h3>
        <p class="entrada__texto">CEO y encargado del area de desarrollo de videojuegos</p>
        <p class="entrada__texto"><strong>Mail:</strong>Pichicho@axo.com</p>
        <p class="entrada__texto"><strong>Idiomas: </strong> Ingles, Español</p>
        <p class="entrada__texto"><strong>Habilidades: </strong>Desarrollo en Django, HTML, Docker, Linux, Git/Github, C#, Unity, C, C++</p>
        <a href="#"><i class="fa fa-facebook-f"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </article>
      <!--./datos-->

    <article class="entrada">
      <div class="entrada__contenido">
        <img class="entrada__imagen" src="https://i.pinimg.com/474x/92/07/ac/9207ac43dd0b3cd4d194e742992a341c.jpg">

        <h3 class="entrada__titulo">Román Guzmán</h3>
        <p class="entrada__texto">Encargado de area de desarrollo web, QA y desarrollador de videojuegos</p>
        <p class="entrada__texto"><strong>Mail:</strong>Guz@axo.com</p>
        <p class="entrada__texto"><strong>Idiomas: </strong> Español</p>
        <p class="entrada__texto"><strong>Habilidades: </strong>Desarrollo en Django, HTML, Docker, Linux, Git/Github, C#, Unity</p>
        <a href="#"><i class="fa fa-facebook-f"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </article>
    <!--./datos-->


    <article class="entrada">
      <div class="entrada__contenido">
        <img class="entrada__imagen" src="https://i.pinimg.com/474x/92/07/ac/9207ac43dd0b3cd4d194e742992a341c.jpg">

        <h3 class="entrada__titulo">Jorge Luis Díaz</h3>
        <p class="entrada__texto">Encargado de area de testing y desarrollo de videojuegos así como de DevOps</p>
        <p class="entrada__texto"><strong>Mail:</strong>Jorge@axo.com</p>
        <p class="entrada__texto"><strong>Idiomas: </strong> Ingles, Español</p>
        <p class="entrada__texto"><strong>Habilidades: </strong>Desarrollo en Django, HTML, Docker, Linux, Git/Github, C#, Unity</p>
        <a href="#"><i class="fa fa-facebook-f"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </article>
    <!--./datos-->

    <article class="entrada">
      <div class="entrada__contenido">
        <img class="entrada__imagen" src="https://i.pinimg.com/474x/92/07/ac/9207ac43dd0b3cd4d194e742992a341c.jpg">

        <h3 class="entrada__titulo">Juventino Aguilar</h3>
        <p class="entrada__texto">Desarrollador de videojuegos, arquitectura y Q.A</p>
        <p class="entrada__texto"><strong>Mail:</strong>AsuJuve@axo.com</p>
        <p class="entrada__texto"><strong>Idiomas: </strong> Ingles, Español</p>
        <p class="entrada__texto"><strong>Habilidades: </strong>Desarrollo en Django, HTML, Docker, Linux, Git/Github, C#, Unity</p>
        <a href="#"><i class="fa fa-facebook-f"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </article>
      <!--./datos-->

  </div>
</section>
{% endblock contenido %}
